[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
neo4j = "*"
psycopg2-binary = "*"
redisgraph = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
